body {
    background-image: url('tlo.jpg'); /* Statyczne tło */
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

/* Klasa do formatowania tekstu */
.formatted-text {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    color: black;
    text-align: center;
}

/* Styl menu */

.flex-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: nowrap; 
    background-color: grey;
}
.container-main {
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}
.container-main a {
    color: white;
}


/* Style do obrazów */
.image-container {
    float: left;
    margin: 10px;
    shape-outside: circle(50%);
}

/* Style dla zakładki kontakt */


/* Style dla formularza kontaktowego */
form {
    margin: 20px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.footer {
    background-color: grey;
    color: white;
    text-align: center;
    padding: 10px;
}